@CHARSET "UTF-8";
.nav a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.tbackground{
  background: rgba(255,255,255,0.3);
  border-radius: 7px ;
  -moz-border-radius: 6px;
  display: inline;
  line-height: 1.5; 
  margin: 5px 5px;
  width: 400px;
}

.tbackground2{
	text-shadow: 3px 3px 3px rgb(82, 125, 163);
	
}

.tbackground1{
  background: rgba(255,255,255,0.6);
  border-radius: 7px ;
  -moz-border-radius: 6px;
  display: inline;
  padding: 0.8rem;
  text-shadow: 3px 3px 3px rgb(167, 190, 209);
}

.tbackground1 span{
  display: inline;
  padding: 0.8rem;
  
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
}

.padded-multiline span { 
  background-color: #c0c;
  color: #fff; 
  display: inline;
  padding: 0.45rem;
  
  /* Needs prefixing */
  
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://rutakintome.files.wordpress.com/2013/08/marina-sky.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:10px;
  font-weight:bold;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.boat-guides {
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.boat-guides h2 {
    color:#393c3d;
    font-size:24px;
}

.boat-guides p {
    font-size:15px;
    margin-bottom:13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

form#signupForm{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: rgba(255,255,255,0.8);
  margin: auto;
  position: relative;
  width: 300px;
  height: 500px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form#hostSignup{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: rgba(255,255,255,0.8);
  margin: auto;
  position: relative;
  width: 300px;
  height: 500px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}