.nav a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.tbackground{
	background: rgba(255,255,255,0.3);
  border-radius: 7px ;
  -moz-border-radius: 6px;
  display: inline;
}

.tbackground1{
	background: rgba(255,255,255,0.9);
  border-radius: 7px ;
  -moz-border-radius: 6px;
  display: inline;
  padding: 10 10 10 10;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://rutakintome.files.wordpress.com/2013/08/marina-sky.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:10px;
  font-weight:bold;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.boat-guides {
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.boat-guides h2 {
    color:#393c3d;
    font-size:24px;
}

.boat-guides p {
    font-size:15px;
    margin-bottom:13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}